<!DOCTYPE html>
<html >
    <head>
        <meta charset="UTF-8">
        <title>ML API</title>
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href='{{ url_for('static', filename='css/style.css') }}'}">
    </head>
    <body>
        <div class="login">
            <h1>Had you been on Titanic, would you have survived?</h1>
            <form action="{{ url_for('predict')}}"method="post">
                <hr style="color: #808080;">
                    <h1>{{ prediction_text }}</h1>
                <hr style="color: #808080;">
                <br>
                <div>
                <label for="Age">Your Age:</label>
                <input type="text" name="Age" placeholder="Type your current age here" required="required" maxlength="2" />
                </div>
                <br>
                <br>
                <div>
                <label for="Sex">Your Sex:</label>
                <div>
                <input type="radio" name="Sex" value="male">
                <label for="male">Male</label></div>
                <div>
                <input type="radio" name="Sex" value="female">
                <label for="female">Female</label></div>
                </div>
                <br>
                <br>
                <div>
                <label for="Embarked">Choose your Embarkment point:</label>
                  <select name="Embarked">
                    <optgroup>
                      <option value="C">Cherbourg</option>
                      <option value="S">Southampton</option>
                      <option value="Q">Queenstown</option>
                    </optgroup>
                  </select>
                </div>
                <br>
                <br>
                <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
            </form>
        </div>
    </body>
</html>
