<!DOCTYPE html>
<html >
    <head>
        <meta charset="UTF-8">
        <title>ML API</title>
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href='{{ url_for('static', filename='css/style.css') }}'}">
    </head>
    <body>
        <div class="login">
            <h1>Had you been on Titanic, would you have survived?</h1>
            <form action="{{ url_for('predict')}}"method="post">
                    <hr style="color: #808080;">
                    <marquee><h1>{{ prediction_text }}</h1></marquee>
                    <marquee><div class="tenor-gif-embed" data-postid="17900990" data-share-method="host" data-aspect-ratio="1" data-width="250px"><a href="https://tenor.com/view/negros-ataud-ataud-meme-negros-dance-coffin-squad-gif-17900990">Dance meme</a>from <a href="https://tenor.com/search/negros+ataud-stickers">Dance meme</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script></marquee>
                    <hr style="color: #808080;">
                <input type="text" name="Age" placeholder="Type your current age here" required="required" maxlength="2" />
                <br>
                <br>
                <input type="radio" name="Sex" value="male"><label for="male">Male</label>
                <input type="radio" name="Sex" value="female">
                <label for="female">Female</label>
                <br>
                <br>
                <label for="Embarked">Choose your Embarkment location:</label>
                  <select name="Embarked">
                    <optgroup>
                      <option value="C">Cherbourg</option>
                      <option value="S">Southampton</option>
                      <option value="Q">Queenstown</option>
                    </optgroup>
                  </select>
                <br>
                <br>
                <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
            </form>
        </div>
    </body>
</html>
